<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="manifest" href="./webmanifest" />
        <title>Hunger Apps</title>
    </head>
    <body>
        <button id="skip-to-content" class="skip-to-content hidden" tabindex="0">Menuju ke konten</button>
        <header>
            <nav>
                <div class="nav-container">
                    <h1 class="nav-title">Hunger Apps</h1>
                    <a href="#" class="hamburger" id="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                    <ul class="nav-links" id="nav-links">
                        <li><a href="/">Home</a></li>
                        <li><a id="favorite-link">Favorite</a></li>
                        <li><a href="https://www.linkedin.com">About Us</a></li>
                        <li><a href="#explore-restaurants">Restaurants</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <button id="offlineInstallButton" hidden style="min-width: 44px; min-height: 44px">Download for offline use</button>

        <main id="mainIndex">
            <section class="jumbotron">
                <img src="./images/heros/hero-image_4.jpg" alt="Hero image" />
            </section>

            <section class="explore-restaurants" id="explore-restaurants">
                <div class="container">
                    <h2 class="section-header">Explore Restaurants</h2>
                    <div class="restaurant-grid" id="all-restaurant-cards">
                        <!-- Add restaurant cards dynamically here -->
                    </div>
                </div>
            </section>
        </main>

        <main id="mainFavourite">
            <section class="explore-restaurants" id="explore-restaurants">
                <div class="container">
                    <h2 class="section-header">Favorite Restaurants</h2>
                    <div class="restaurant-grid" id="favorite-restaurant-grid">
                        <!-- Favorite restaurants will be dynamically added here -->
                    </div>
                </div>
            </section>
        </main>
        <main id="mainDetail">
            <section id="restaurant-details" class="restaurant-details">
                <!-- Restaurant details will be dynamically loaded here -->
            </section>
        </main>

        <script>
            // Get the necessary elements
            const mainIndex = document.getElementById("mainIndex");
            const mainFavourite = document.getElementById("mainFavourite");
            const favoriteLink = document.getElementById("favorite-link");
            const mainDetail = document.getElementById("mainDetail");

            // Hide mainFavourite initially
            mainFavourite.style.display = "none";

            // Handle click event on the Favorite link
            favoriteLink.addEventListener("click", (e) => {
                e.preventDefault();
                mainIndex.style.display = "none";
                mainDetail.style.display = "none";
                mainFavourite.style.display = "block";
            });

            let deferredPrompt;

            window.addEventListener("beforeinstallprompt", (e) => {
                e.preventDefault();
                deferredPrompt = e;
                document.getElementById("offlineInstallButton").hidden = false;
            });

            document.getElementById("offlineInstallButton").addEventListener("click", (e) => {
                document.getElementById("offlineInstallButton").hidden = true;
                deferredPrompt.prompt();
                deferredPrompt.userChoice.then((choiceResult) => {
                    if (choiceResult.outcome === "accepted") {
                        console.log("User accepted the A2HS prompt");
                    } else {
                        console.log("User dismissed the A2HS prompt");
                    }
                    deferredPrompt = null;
                });
            });
        </script>

        <footer>
            <p>Copyright © 2020 - Hunger Apps</p>
        </footer>
    </body>
</html>
